@page
@model PineriverASPNETPage.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["PageDesc"] = "CS:GO GAMING COMMUNITY";
}


<partial name="~/Pages/Shared/_LoginPartial.cshtml" />

    <div class="row mr-auto">
        <div class="col-sm-3">
            <h1>WELCOME</h1>
        </div>

        <div class="col-sm-3">
            <h1>WELCOME</h1>
        </div>

        <div class="col-sm-3">
            <h1>WELCOME</h1>
        </div>

        <div class="col-sm-3">
            <h1>WELCOME</h1>
        </div>
    </div>
